Exam text [here](https://gdv.github.io/foundationsCS/students/progetti/2025-project)

# 2025-26 Project

You have to work on the [Trending YouTube](https://drive.google.com/file/d/1VuI1NnPzYlhHIMBy-2nBegFoQTATbf8K/view) dataset.

## Notes

1. It is mandatory to use GitHub for developing the project.
2. The project must be a jupyter notebook.
3. There is no restriction on the libraries that can be used, nor on the Python version.
4. All questions on the project __must__ be asked in the Discussion forum on the course website.
5. At most 3 students can be in each group. You must create the groups by yourself. You can use the Discussion forum to create the groups.
6. You do not have to send me the project before the discussion.
7. You do not have to prepare any slides for the discussion.
8. You can use AI tools, but you have to describe in the notebook how you have used such tools and you have to show that you have fully understood everything that you have in your project.

### 1. Create a single dataframe with the concatenation of all input csv files, adding a column called ```country```
### 2. Extract all videos that have no tag.
### 3. For each channel, determine the total number of views
### 4. Save all rows with disabled comments and disabled ratings, or that have ```video_error_or_removed``` in a new dataframe called ```excluded```, and remove those rows from the original dataframe.
### 5. Add a ```like_ratio``` column storing the ratio between the number of likes and of dislikes
### 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)
### 7. For each interval, determine the number of videos, average number of likes and of dislikes.
### 8. For each tag, determine the number of videos
###### Notice that ```tags``` contains a string with several tags.
### 9. Find the tags with the largest number of videos
### 10. For each (```tags```, ```country```) pair, compute average ratio likes/dislikes
### 11. For each (```trending_date```, ```country```) pair, the video with the largest number of views
### 12. Divide ```trending_date``` into three columns: ```year```, ```month```, ```day```
### 13. For each (```month```, ```country```) pair, the video with the largest number of views
### 14. Read all json files with the video categories
### 15. For each country, determine how many videos have a category that is not assignable.

In [279]:
import os
import pandas as pd

In [280]:
in_path = '/Users/marcomanduca/Desktop/data_science/foundation_computer_science/exam/trendingYT'

### 1. Create a single dataframe with the concatenation of all input csv files, adding a column called ```country```

In [281]:
df = pd.DataFrame()
for el in os.listdir(in_path):
    print(f'Processing file: {el}')
    in_file = os.path.join(in_path, el)
    if el.endswith('.csv.zst') and el not in ['MXvideos.csv.zst', 'KRvideos.csv.zst', 'JPvideos.csv.zst', 'RUvideos.csv.zst']:
        #continue
        temp_df = pd.read_csv(
            in_file,
            compression='zstd',
            encoding='utf-8', # invalide bytes in MXvideos, KRvideos, JPvideos, RUvideos files
            encoding_errors='ignore',
            na_values=['[none]'], # exclude '[none]' as NaN in 'tags' column
            parse_dates = ['publish_time']
        )
    elif el in ['MXvideos.csv.zst', 'KRvideos.csv.zst', 'JPvideos.csv.zst', 'RUvideos.csv.zst']:
        temp_df = pd.read_csv(
            in_file,
            compression='zstd',
            encoding_errors='ignore',
            na_values=['[none]'], # exclude '[none]' as NaN in 'tags' column
            parse_dates = ['publish_time']
        )
    else:
        print(f'Skipping file: {el}')
        continue
    temp_df['country'] = el[:2]
    df = pd.concat([df, temp_df], ignore_index=True, axis = 0)
    print(f'File: {el} - Rows: {df.shape[0]} - Columns: {df.shape[1]}')

Processing file: IN_category_id.json
Skipping file: IN_category_id.json
Processing file: USvideos.csv.zst
File: USvideos.csv.zst - Rows: 40949 - Columns: 17
Processing file: FRvideos.csv.zst
File: FRvideos.csv.zst - Rows: 81673 - Columns: 17
Processing file: MXvideos.csv.zst
File: MXvideos.csv.zst - Rows: 122124 - Columns: 17
Processing file: RU_category_id.json
Skipping file: RU_category_id.json
Processing file: JP_category_id.json
Skipping file: JP_category_id.json
Processing file: FR_category_id.json
Skipping file: FR_category_id.json
Processing file: INvideos.csv.zst
File: INvideos.csv.zst - Rows: 159476 - Columns: 17
Processing file: GB_category_id.json
Skipping file: GB_category_id.json
Processing file: KRvideos.csv.zst
File: KRvideos.csv.zst - Rows: 194043 - Columns: 17
Processing file: KR_category_id.json
Skipping file: KR_category_id.json
Processing file: JPvideos.csv.zst
File: JPvideos.csv.zst - Rows: 214566 - Columns: 17
Processing file: DEvideos.csv.zst
File: DEvideos.csv.zst - Rows: 255406 - Columns: 17
Processing file: MX_category_id.json
Skipping file: MX_category_id.json
Processing file: CAvideos.csv.zst
File: CAvideos.csv.zst - Rows: 296287 - Columns: 17
Processing file: CA_category_id.json
Skipping file: CA_category_id.json
Processing file: US_category_id.json
Skipping file: US_category_id.json
Processing file: RUvideos.csv.zst
File: RUvideos.csv.zst - Rows: 337026 - Columns: 17
Processing file: DE_category_id.json
Skipping file: DE_category_id.json
Processing file: GBvideos.csv.zst
File: GBvideos.csv.zst - Rows: 375942 - Columns: 17

In [299]:
df.sample(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
56985,-iBnb_KyUZ8,18.04.02,Friends Trip 4 Episode 25,channel TV,24,2018-02-03 08:45:09+00:00,Friends Trip 4 Episode 25,21215,85,23,16,https://i.ytimg.com/vi/-iBnb_KyUZ8/default.jpg,False,False,False,Friends Trip 4 Episode 25 \nhttp://www.dailymo...,FR
181957,gL9-CWUpBTY,18.29.03,2018ÎÖÑ 3Ïõî 28Ïùº ÏÉùÎ∞©ÏÜ° PenN Îâ¥Ïä§,Ï†ïÍ∑úÏû¨TV,25,2018-03-28 11:01:31+00:00,"Ï†ïÍ∑úÏû¨|""Ï†ïÍ∑úÏû¨Ìã∞ÎπÑ""|""Ï†ïÍ∑úÏû¨TV""|""ÌéúÏï§Îâ¥Ïä§""|""ÌéúÏï§ÎßàÏù¥ÌÅ¨""|""ÍπÄÏ†ïÏùÄ""|""Îã®Í≥ÑÏ†Å ...",92566,4910,147,362,https://i.ytimg.com/vi/gL9-CWUpBTY/default.jpg,False,False,False,"* Ïò§ÎäòÏùò PenN Îâ¥Ïä§ ÌÉÄÏù¥ÌãÄ *\n0. Î¨∏Ïû¨Ïù∏Í≥º ÍπÄÏ†ïÏùÄÏùò Ï∞®Ïù¥, Î¨∏Ï†ïÏù∏ÏùÄ Ïûò Î¥§...",KR
2207,nkXGohB02V0,17.25.11,Fast Food (A Thanksgiving Special) - Simon's C...,Simon's Cat,15,2017-11-23 13:04:34+00:00,"cartoon|""simons cat""|""simon's cat""|""simonscat""...",659371,27060,579,1373,https://i.ytimg.com/vi/nkXGohB02V0/default.jpg,False,False,False,'Two hungry cats join forces to gobble down a ...,US
87917,7d9pVZLhhi4,17.15.12,El Flechado de Aura casi golpea a Brian por cu...,LosVaM's,24,2017-12-15 00:04:04+00:00,NaN,36533,118,20,18,https://i.ytimg.com/vi/7d9pVZLhhi4/default.jpg,False,False,False,NaN,MX
244853,CSsnZJ1En7U,18.22.04,"Priyamanaval Episode 995, 21/04/18",VikatanTV,24,2018-04-21 17:00:00+00:00,"Priyamanaval 21.04.2018|""priyamanaval 995""|""pr...",492465,2729,881,395,https://i.ytimg.com/vi/CSsnZJ1En7U/default.jpg,False,False,False,Priyamanaval Episode 995\nSubscribe: https://g...,DE

### 2. Extract all videos that have no tag.

In [300]:
video_no_tags = df[df['tags'].isnull()]
print(f'Number of videos without tags: {format(video_no_tags.shape[0], ",d")} ({format(video_no_tags.shape[0]/df.shape[0]*100, ".2f")}% of the total)')

Number of videos without tags: 37,698 (10.03% of the total)

### 3. For each channel, determine the total number of views

In [301]:
df.groupby(by=['channel_title']).agg(
    {'views' : 'sum'}
).sort_values(by='views', ascending = False)

                            views
channel_title
ChildishGambinoVEVO   11016766510
Marvel Entertainment  10430605449
NickyJamTV             9479859505
Ozuna                  8623329509
ibighit                8205572221
...                           ...
NavylittleMonster             365
Videostendencias              302
No Comment TV                 284
Sport Life                    163
Alexander Redking             153

[37824 rows x 1 columns]

### 4. Save all rows with disabled comments and disabled ratings, or that have ```video_error_or_removed``` in a new dataframe called ```excluded```, and remove those rows from the original dataframe.

In [302]:
print(f'Total videos before exclusion: {format(df.shape[0], ",d")}')
excluded = df[
    (df['comments_disabled'] == True) & (df['ratings_disabled'] == True) |
    (df['video_error_or_removed'] == True)
]

print(f'Total excluded videos: {format(excluded.shape[0], ",d")}')

df = df.drop(excluded.index)
print(f'Total videos after exclusion: {format(df.shape[0], ",d")}')

Total videos before exclusion: 375,942
Total excluded videos: 2,620
Total videos after exclusion: 373,322

### 5. Add a ```like_ratio``` column storing the ratio between the number of likes and of dislikes

In [303]:
df['like_ratio'] = df['likes'] / df['dislikes']

### 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [304]:
df['cluster'] = (df['publish_time'].dt.hour * 60 + df['publish_time'].dt.minute) // 10

### 7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [305]:
df.groupby(by=['cluster']).agg(
    {'video_id' : 'count', 'likes' : 'mean', 'dislikes' : 'mean'}
).rename(
    columns={'video_id' : 'total_videos', 'likes' : 'avg_likes', 'dislikes' : 'avg_dislikes'}
)

         total_videos     avg_likes  avg_dislikes
cluster
0                2897  61288.115637   3808.149465
1                1509  22748.138502   1449.836315
2                1241  21378.280419   1072.344883
3                1614  36853.560719    955.890954
4                1269  42198.623325   1909.301812
...               ...           ...           ...
139              1554  22783.840412   1110.168597
140              1438  30696.510431   1177.020862
141              1666  18159.173469    874.184874
142              1466  45736.581855   9341.549795
143              1269  10853.743893    505.701340

[144 rows x 3 columns]

### 8. For each tag, determine the number of videos
### 9. Find the tags with the largest number of videos

In [ ]:
df_with_id = df.set_index('video_id')
# | (pipe) to split the tags, explode to expand the dataframe into multiple rows with the same video_id
tags = df_with_id['tags'].str.split('|').explode()
tags = tags.reset_index().rename(columns = {
    'index' : 'video_id',
    'tags' : 'tag'
})

#tag like "funny" and funny (or "comedy" and comedy) are the same. remove the double quotes
tags['tag'] = tags['tag'].str.replace('"', '')

In [332]:
tags.groupby(
    by=['tag'],
    as_index = False
).size().rename(
    columns = {'size' : 'video_count'}
).sort_values(
    by=['video_count'],
    ascending = False
)

                                                   tag  video_count
355882                                           funny        15039
296168                                          comedy        12351
12818                                             2018        11371
466731                                            news         6363
458682                                           music         5909
...                                                ...          ...
576534  tuzhat jeev rangala 23 march 2018 full episode            1
178662                         Rerfuerzos america 2018            1
576532           tuzhat jeev rangala 21apr 2018episode            1
576531  tuzhat jeev rangala 21 march 2018 full episode            1
849300                   ü§ù ZARBEX zahlt Schutzgeld!!!            1

[849301 rows x 2 columns]

### 10. For each (```tags```, ```country```) pair, compute average ratio likes/dislikes